<h2>Title</h2>
<p><%= link_to book.title ,book_path(book.id) %></p>

<h2>body</h2>
<p><%= link_to book.  ,book_path(book.id) %></p>

<p><%= link_to 'Edit',edit_path %></p>
<p><%= link_to 'Back',books_path %></p>
